<div class="register-container">
  <h1 class="title">Join ESI-Media</h1>
  <p class="subtitle">El mejor audio y video con la mejor calidad y contenido exclusivo.</p>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- Campo: Nombre -->
    <div class="form-field">
    <label for="nombre">Nombre *</label>
    <input type="text" placeholder="Nombre" formControlName="nombre">
    <div *ngIf="registerForm.get('nombre')?.touched && registerForm.get('nombre')?.invalid">
    <span class="error" *ngIf="registerForm.get('nombre')?.hasError('required')">
      Nombre es un campo obligatorio </span>
    <span class="error" *ngIf="registerForm.get('nombre')?.hasError('maxlength')">
      El nombre ha superado el límite de caracteres </span>
    </div>
    </div>

    <!-- Campo: Apellidos -->
    <div class="form-field">
      <label for="apellidos">Apellidos *</label>
      <input type="text" placeholder="Apellidos" formControlName="apellidos">
      <div *ngIf="registerForm.get('apellidos')?.invalid && registerForm.get('apellidos')?.touched">
        <span class="error" *ngIf="registerForm.get('apellidos')?.hasError('required')">
          Apellidos es un campo obligatorio</span>
        <span class="error" *ngIf="registerForm.get('apellidos')?.hasError('maxlength')">
          Los apellidos han superado el límite de caracteres</span>
      </div>
    </div>

    <!-- Campo: Email -->
    <div class="form-field">
      <label for="email">Email *</label>
      <input type="email" placeholder="Dirección de correo" formControlName="email">
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <span *ngIf="registerForm.get('email')?.hasError('required')" class="error"> 
          Correo electrónico es un campo obligatorio</span>
      <span class="error" *ngIf="registerForm.get('email')?.hasError('email')"> 
        El formato no es válido</span>
      </div>
    </div>

    <!-- Campo: Alias -->
    <div class="form-field">
      <label for="alias">Alias</label>
      <input type="text" placeholder="Alias" formControlName="alias">
      <div *ngIf="registerForm.get('alias')?.invalid && registerForm.get('alias')?.touched">
        <span class="error" *ngIf="registerForm.get('alias')?.hasError('minlength') || registerForm.get('alias')?.hasError('maxlength')">
          Alias debe tener entre 3 y 15 caracteres</span>
      </div>
    </div>

    <!-- Campo: Fecha de nacimiento -->
    <div class="form-field">
      <label for="fecha_nacimiento">Fecha de nacimiento *</label>
      <input type="date" placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento">
      <span class="error" *ngIf="registerForm.get('fecha_nacimiento')?.invalid && registerForm.get('fecha_nacimiento')?.touched">
        La fecha de nacimiento es obligatoria
      </span>
    </div>

    <!-- Campo: VIP -->
    <div class="form-field">
      <p for="vip" class="subtitle">Hazte VIP y disfruta de contenido exclusivo y beneficios adicionales.</p>
        <div class="vip-container">
        <button
          class="vip-toggle"
          (click)="toggleVip()"
          [ngClass]="{'vip-active': isVip, 'vip-inactive': !isVip}">
          {{ isVip ? 'VIP' : 'No eres VIP' }}
        </button>
      </div>
    </div>

    
    <!-- Campo: Foto de perfil -->
    <div class="form-field">
      <label for="foto">Foto de perfil </label>
      <button type="button" class="photo-selector-btn" (click)="togglePhotoOptions()">
        {{ selectedPhoto ? 'Cambiar foto' : 'Seleccionar foto' }}
      </button>
      
      <div class="photo-options" *ngIf="showPhotoOptions">
        <div class="photo-grid">
          <img *ngFor="let photo of photoOptions" 
               [src]="photo.url" 
               [alt]="photo.name"
               class="photo-option"
               [class.selected]="selectedPhoto === photo.url"
               (click)="selectPhoto(photo.url)">
        </div>
      </div>
    </div>

    <!-- Campo: Contraseña -->
    <div class="form-field">
    <label for="contraseña">Contraseña *</label>
    <input type="password" placeholder="Contraseña" formControlName="contraseña">
    <div *ngIf="registerForm.get('contraseña')?.invalid && registerForm.get('contraseña')?.touched">
      <span class="error" *ngIf="registerForm.get('contraseña')?.hasError('required')">
        Contraseña es un campo obligatorio</span>
      <span class="error" *ngIf="registerForm.get('contraseña')?.hasError('minlength')">
        La contraseña debe tener al menos 8 caracteres</span>
      <span class="error" *ngIf="registerForm.get('contraseña')?.hasError('maxlength')">
        La contraseña no puede tener más de 20 caracteres</span>
      <span class="error" *ngIf="registerForm.get('contraseña')?.hasError('pattern')">
        La contraseña debe incluir mayúsculas, minúsculas, números y caracteres especiales (&#64;$!%*?&amp;)</span>
      </div>
    </div>

    <!-- Campo: Repetir Contraseña -->
    <div class="form-field">
      <label for="repetirContrasena">Repetir Contraseña *</label>
      <input type="password" placeholder="Repetir contraseña" formControlName="repetirContrasena">
      <span class="error" *ngIf="registerForm.get('contrasena')?.invalid && registerForm.get('contrasena')?.touched">3–20 characters, no spaces at edges</span>
    </div>

    <!-- Mensajes de éxito y error -->
    <div class="message-container">
      <div class="success-message" *ngIf="registrationSuccess">
        ¡Usuario registrado exitosamente!
      </div>
      <div class="error-message" *ngIf="registrationError">
        {{ registrationError }}
      </div>
    </div>

    <!-- Botón de envío -->
    <button type="submit" class="create-btn" [disabled]="registerForm.invalid">Crear cuenta</button>

</form>
  <hr class="divider">
  <div class="log-in">
    <p class="login-link">¿Ya tienes una cuenta? <a href="#">Iniciar sesión</a></p>
  </div>
</div>

