<div class="register-container">
  <h1 class="title">Join ESI-Media</h1>
  <p class="subtitle">El mejor audio y video con la mejor calidad y contenido exclusivo.</p>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- Campo: Nombre -->
    <div class="form-field">
    <label for="nombre">Nombre *</label>
    <input type="text" placeholder="Nombre" formControlName="nombre">
    <div *ngIf="registerForm.get('nombre')?.touched && registerForm.get('nombre')?.invalid">
    <span class="error" *ngIf="registerForm.get('nombre')?.hasError('required')">
      Nombre es un campo obligatorio </span>
    <span class="error" *ngIf="registerForm.get('nombre')?.hasError('maxlength')">
      El nombre ha superado el límite de caracteres </span>
    </div>
    </div>

    <!-- Campo: Apellido -->
    <div class="form-field">
      <label for="apellido">Apellido *</label>
      <input type="text" placeholder="Apellido" formControlName="apellido">
      <div *ngIf="registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched">
        <span class="error" *ngIf="registerForm.get('apellido')?.hasError('required')">
          Apellido es un campo obligatorio</span>
        <span class="error" *ngIf="registerForm.get('apellido')?.hasError('maxlength')">
          El apellido ha superado el límite de caracteres</span>
      </div>
    </div>

    <!-- Campo: Email -->
    <div class="form-field">
      <label for="email">Email *</label>
      <input type="email" placeholder="Dirección de correo" formControlName="email">
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <span *ngIf="registerForm.get('email')?.hasError('required')" class="error"> 
          Correo electrónico es un campo obligatorio</span>
      <span class="error" *ngIf="registerForm.get('email')?.hasError('email')"> 
        El formato no es válido</span>
      </div>
    </div>

    <!-- Campo: Alias -->
    <div class="form-field">
      <label for="alias">Alias</label>
      <input type="text" placeholder="Alias" formControlName="alias">
      <div *ngIf="registerForm.get('alias')?.invalid && registerForm.get('alias')?.touched">
        <span class="error" *ngIf="registerForm.get('alias')?.hasError('minlength') || registerForm.get('alias')?.hasError('maxlength')">
          Alias debe tener entre 3 y 15 caracteres</span>
      </div>
    </div>

    <!-- Campo: Fecha de nacimiento -->
    <div class="form-field">
      <label for="cumpleanos">Fecha de nacimiento *</label>
      <input type="date" placeholder="Fecha de nacimiento" formControlName="cumpleanos">
      <span class="error" *ngIf="registerForm.get('cumpleanos')?.invalid && registerForm.get('cumpleanos')?.touched">Must be 13 or older</span>
    </div>

    <!-- Campo: VIP -->
    <div class="form-field">
      <p for="vip" class="subtitle">Hazte VIP y disfruta de contenido exclusivo y beneficios adicionales.</p>
        <div class="vip-container">
        <button
          class="vip-toggle"
          (click)="toggleVip()"
          [ngClass]="{'vip-active': isVip, 'vip-inactive': !isVip}">
          {{ isVip ? 'VIP' : 'No eres VIP' }}
        </button>
      </div>
    </div>

    
    <!-- Campo: Foto de perfil -->
    <div class="form-field">
      <label for="foto">Foto de perfil </label>
      <button type="button" class="photo-selector-btn" (click)="togglePhotoOptions()">
        {{ selectedPhoto ? 'Cambiar foto' : 'Seleccionar foto' }}
      </button>
      
      <div class="photo-options" *ngIf="showPhotoOptions">
        <div class="photo-grid">
          <img *ngFor="let photo of photoOptions" 
               [src]="photo.url" 
               [alt]="photo.name"
               class="photo-option"
               [class.selected]="selectedPhoto === photo.url"
               (click)="selectPhoto(photo.url)">
        </div>
      </div>
    </div>

    <!-- Campo: Contraseña -->
    <div class="form-field">
    <label for="contrasena">Contraseña *</label>
    <input type="password" placeholder="Contraseña" formControlName="contrasena">
    <div *ngIf="registerForm.get('contrasena')?.invalid && registerForm.get('contrasena')?.touched">
      <span class="error" *ngIf="registerForm.get('contrasena')?.hasError('required')">
        Contraseña es un campo obligatorio</span>
      <span class="error" *ngIf="registerForm.get('contrasena')?.hasError('minlength') || registerForm.get('contrasena')?.hasError('maxlength')">
        Contraseña debe tener al menos 8 caracteres</span>
      <span class="error" *ngIf="registerForm.get('contrasena')?.hasError('pattern')">
        No spaces at the beginning or end</span>
      </div>
    </div>

    <!-- Campo: Repetir Contraseña -->
    <div class="form-field">
      <label for="repetirContrasena">Repetir Contraseña *</label>
      <input type="password" placeholder="Repetir contraseña" formControlName="repetirContrasena">
      <span class="error" *ngIf="registerForm.get('contrasena')?.invalid && registerForm.get('contrasena')?.touched">3–20 characters, no spaces at edges</span>
    </div>

    <!-- Botón de envío -->
    <button type="submit" class="create-btn">Crear cuenta</button>

</form>
  <hr class="divider">
  <div class="log-in">
  <p class="login-link">¿Ya tienes cuenta? <a routerLink="/login">Iniciar sesión</a></p>
  </div>
</div>

