<app-navbar></app-navbar>
<body class="background">
<div class="register-container">
  <h1 class="form-title">Cambiar Contraseña</h1>
  <p class="form-subtitle">Escribe tu correo electrónico para recibir instrucciones de cambio de contraseña.</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Campo: Email -->
    <div class="form-field">
      <label for="email">Email <span class="required-asterisk">*</span></label>
      <input type="email" placeholder="Dirección de correo" formControlName="email">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <span *ngIf="loginForm.get('email')?.hasError('required')" class="error-message"> 
          Correo electrónico es un campo obligatorio</span>
        <span class="error-message" *ngIf="loginForm.get('email')?.hasError('email')"> 
          El formato no es válido</span>
      </div>
    </div>

    <!-- Botón de envío -->
      <button type="submit" class="create-btn" [disabled]="isLoading">
        <span *ngIf="!isLoading">Enviar Email</span>
        <span *ngIf="isLoading">Enviando...</span>
      </button>
      
      <!-- Spinner de carga -->
      <div class="loading-container" *ngIf="isLoading">
        <div class="spinner"></div>
        <p>Enviando correo de recuperación...</p>
      </div>

      <div class="message-container">
        <div class="success-message" *ngIf="loginResponse?.message && !loginResponse?.error">{{ loginResponse?.message }}</div>
        <div class="error-message" *ngIf="loginResponse?.error">{{ loginResponse?.error }}</div>
      </div>
  </form>

</div>
</body>