<div class="register-container">
  <h1 class="form-title">Crea un Creador de Contenido</h1>
  <p class="form-subtitle">Sube tu contenido para que otros lo descubran.</p>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- Campo: Nombre -->
    <div class="form-field">
    <label for="nombre">Nombre *</label>
    <input type="text" placeholder="Nombre" formControlName="name">
      <div class="error-container" *ngIf="getControl('name')?.invalid && (getControl('name')?.touched || getControl('name')?.dirty)">
        <p class ="error-message" *ngIf="getControl('name')?.hasError('required')"> El campo es obligatorio. </p>
        <p class ="error-message" *ngIf="getControl('name')?.hasError('minlength')"> Mínimo 2 caracteres. </p>
        <p class ="error-message" *ngIf="getControl('name')?.hasError('maxlength')"> Máximo 50 caracteres. </p>
      </div>
    </div>

    <!-- Campo: Apellido -->
    <div class="form-field">
      <label for="apellidos">Apellido *</label>
      <input type="text" placeholder="Apellido" formControlName="lastName">
        <div class="error-container" *ngIf="getControl('lastName')?.invalid && (getControl('lastName')?.touched || getControl('lastName')?.dirty)">
        <p class ="error-message" *ngIf="getControl('lastName')?.hasError('required')"> El campo es obligatorio. </p>
        <p class ="error-message" *ngIf="getControl('lastName')?.hasError('minlength')"> Mínimo 2 caracteres. </p>
        <p class ="error-message" *ngIf="getControl('lastName')?.hasError('maxlength')"> Máximo 50 caracteres. </p>
      </div>
    </div>

    <!-- Campo: Email -->
    <div class="form-field">
      <label for="email">Email *</label>
      <input type="email" placeholder="Dirección de correo" formControlName="email">
        <div class="error-container" *ngIf="getControl('email')?.invalid && (getControl('email')?.touched || getControl('email')?.dirty)">
        <p class ="error-message" *ngIf="getControl('email')?.hasError('required')"> El campo es obligatorio. </p>
        <p class ="error-message" *ngIf="getControl('email')?.hasError('email')"> Formato de email inválido. </p>
        </div>
    </div>

    <!-- Campo: Alias: UNICO no repetir -->
    <div class="form-field">
      <label for="alias">Alias *</label>
      <input type="text" placeholder="Alias" formControlName="alias">
      <div class="error-container" *ngIf="getControl('alias')?.invalid && (getControl('alias')?.touched || getControl('alias')?.dirty)">
        <p class ="error-message" *ngIf="getControl('alias')?.hasError('required')"> El campo es obligatorio. </p>
        <p class ="error-message" *ngIf="getControl('alias')?.hasError('minlength')"> Mínimo 2 caracteres. </p>
        <p class ="error-message" *ngIf="getControl('alias')?.hasError('maxlength')"> Máximo 20 caracteres. </p>
      </div>
    </div>

    <!-- Campo: Foto de perfil -->
    <div class="form-field">
      <label for="imageId">Foto de perfil *</label>
      <button 
        type="button" class="photo-selector-btn" 
        (click)="togglePhotoOptions()">
        {{ selectedPhoto ? 'Cambiar foto' : 'Seleccionar foto' }}
      </button>

      <div class="photo-options" *ngIf="showPhotoOptions">
        <div class="photo-grid">
          <img *ngFor="let avatar of photoOptions.slice(1)" 
               [src]="avatar.url" 
               [alt]="avatar.id"
               class="photo-option"
               [class.selected]="selectedPhoto === avatar.id"
               (click)="selectPhoto(avatar.id)"
               (keydown.enter)="selectPhoto(avatar.id)">
        </div>
      <a class="link" href="http://www.freepik.com">Designed by studiogstock / Freepik</a>
      </div>
      <div class="error-container" *ngIf="getControl('fotoPerfil')?.invalid && (getControl('fotoPerfil')?.touched || getControl('fotoPerfil')?.dirty)">
        <p class ="error-message" *ngIf="getControl('fotoPerfil')?.hasError('required')"> El campo es obligatorio. </p>
      </div>
    </div>

    <!-- Campo: Descripción -->
    <div class="form-field">
      <label for="description">Descripción</label>
      <textarea class="area-descripcion" placeholder="Descripción" formControlName="description"></textarea>
      <div class="error-container" *ngIf="getControl('description')?.invalid && (getControl('description')?.touched || getControl('description')?.dirty)">
        <p class ="error-message" *ngIf="getControl('description')?.hasError('maxlength')"> Máximo 500 caracteres. </p>
      </div>
    </div>

    <!-- Campo: Especialidad -->
    <div class="form-field">
    <label for="field">Especialidad *</label>
    <select class="form-select" id="field" formControlName="field">
      <option value="">Seleccionar especialidad</option>
      <option *ngFor="let esp of fields" [value]="esp">
        {{ esp }}
      </option>
    </select>
    <div class="error-container" *ngIf="getControl('especialidad')?.invalid && (getControl('especialidad')?.touched || getControl('especialidad')?.dirty)">
        <p class ="error-message" *ngIf="getControl('especialidad')?.hasError('required')"> El campo es obligatorio. </p>
    </div>
</div>

<!-- Campo: Tipo de Contenido -->
<div class="form-field">
    <label for="tipoContenido">Tipo de Contenido *</label>
    <div class="content-type-buttons">
    <button 
        type="button" class="content-btn"
        [class.active]="getControl('type')?.value === 'Audio'"
        (click)="selectContentType('Audio')">🎵 Audio
    </button>
    <button 
        type="button" class="content-btn"
        [class.active]="getControl('type')?.value === 'Video'"
        (click)="selectContentType('Video')">🎬 Vídeo
    </button>
    </div>
    <div class="error-container" *ngIf="getControl('tipoContenido')?.invalid && (getControl('tipoContenido')?.touched || getControl('tipoContenido')?.dirty)">
        <p class ="error-message" *ngIf="getControl('tipoContenido')?.hasError('required')"> El campo es obligatorio. </p>
    </div>    
</div>

    <!-- Campo: Contraseña -->
  <div class="form-field">
    <label for="password">Contraseña *</label>
      <div class="password-field">
      <input [type]="!visiblePassword?'password':'text'" placeholder="Contraseña" formControlName="password">
      <button type ="button" class="eyeicon" (click)="togglePasswordVisibility()">
        <mat-icon *ngIf="visiblePassword">visibility</mat-icon>
        <mat-icon *ngIf="!visiblePassword">visibility_off</mat-icon>
      </button>
    </div>
    <div class="error-container" *ngIf="getControl('contrasena')?.invalid && (getControl('contrasena')?.touched || getControl('contrasena')?.dirty)">
      <p class ="error-message" *ngIf="getControl('contrasena')?.hasError('required')"> El campo es obligatorio. </p>
      <p class ="error-message" *ngIf="getControl('contrasena')?.hasError('minlength')"> Mínimo 8 caracteres. </p>
      <p class ="error-message" *ngIf="getControl('contrasena')?.hasError('maxlength')"> Máximo 128 caracteres. </p>
      <p class ="error-message" *ngIf="getControl('contrasena')?.hasError('noLowercase')">❌ Debe contener al menos una letra minúscula</p>
      <p class ="error-message" *ngIf="getControl('contrasena')?.hasError('noUppercase')">❌ Debe contener al menos una letra mayúscula</p>
      <p class ="error-message" *ngIf="getControl('contrasena')?.hasError('noNumber')">❌ Debe contener al menos un número</p>
      <p class ="error-message" *ngIf="getControl('contrasena')?.hasError('noSpecialChar')">❌ Debe contener al menos un carácter especial</p>
      </div>
  </div>

    <!-- Campo: Repetir Contraseña -->
    <div class="form-field">
      <label for="repetePassword">Repetir Contraseña *</label>
      <div class="password-field">
      <input [type]="!visibleRepetePassword?'password':'text'" placeholder="Repetir contraseña" formControlName="repetePassword">
      <button type="button" class="eyeicon" (click)="toggleRepetePasswordVisibility()">
        <mat-icon *ngIf="visibleRepetePassword">visibility</mat-icon>
        <mat-icon *ngIf="!visibleRepetePassword">visibility_off</mat-icon>
      </button>
    </div>
      <div class="error-container" *ngIf="(getControl('repetePassword')?.invalid && (getControl('repetePassword')?.touched || getControl('repetePassword')?.dirty)) || (registerForm.errors?.['passwordMismatch'] && (getControl('repetePassword')?.touched || getControl('repetePassword')?.dirty))">
        <p class ="error-message" *ngIf="getControl('repetePassword')?.hasError('required')"> El campo es obligatorio. </p>
        <p class ="error-message" *ngIf="getControl('repetePassword')?.hasError('minlength')"> Mínimo 8 caracteres. </p>
        <p class ="error-message" *ngIf="getControl('repetePassword')?.hasError('maxlength')"> Máximo 128 caracteres. </p>
        <p class ="error-message" *ngIf="registerForm.errors?.['passwordMismatch'] && (getControl('repetePassword')?.touched || getControl('repetePassword')?.dirty)"> Las contraseñas no coinciden. </p>
      </div>
    </div>

    <!-- Botón de envío -->
    <button type="submit" [disabled]="!registerForm.valid || isSubmitting" class="create-btn">
      {{ isSubmitting ? 'Registrando...' : 'Crear cuenta' }}
    </button>

</form>
</div>

