<div class="register-container">
  <h1 class="form-title">Crea un Administrador</h1>
  <p class="form-subtitle">Gestiona al resto de usuarios</p>

  <form [formGroup]="registerForm"  (ngSubmit)="onSubmit()">

    <!-- Campo: Nombre -->
    <div class="form-field">
    <label for="nombre">Nombre *</label>
    <input type="text" placeholder="Nombre" formControlName="name">
      <div class="error-container" *ngIf="getControl('name')?.invalid && (getControl('name')?.touched || getControl('name')?.dirty)">
        <p class ="error-message" *ngIf="getControl('name')?.hasError('required')"> El campo es obligatorio. </p>
        <p class ="error-message" *ngIf="getControl('name')?.hasError('minlength')"> Mínimo 2 caracteres. </p>
        <p class ="error-message" *ngIf="getControl('name')?.hasError('maxlength')"> Máximo 50 caracteres. </p>
      </div>
    </div>

    <!-- Campo: Apellido -->
    <div class="form-field">
      <label for="apellido">Apellido *</label>
      <input type="text" placeholder="Apellido" formControlName="lastName">
        <div class="error-container" *ngIf="getControl('lastName')?.invalid && (getControl('lastName')?.touched || getControl('lastName')?.dirty)">
        <p class ="error-message" *ngIf="getControl('lastName')?.hasError('required')"> El campo es obligatorio. </p>
        <p class ="error-message" *ngIf="getControl('lastName')?.hasError('minlength')"> Mínimo 2 caracteres. </p>
        <p class ="error-message" *ngIf="getControl('lastName')?.hasError('maxlength')"> Máximo 50 caracteres. </p>
      </div>
    </div>

    <!-- Campo: Email -->
    <div class="form-field">
      <label for="email">Email *</label>
      <input type="email" placeholder="Dirección de correo" formControlName="email">
        <div class="error-container" *ngIf="getControl('email')?.invalid && (getControl('email')?.touched || getControl('email')?.dirty)">
        <p class ="error-message" *ngIf="getControl('email')?.hasError('required')"> El campo es obligatorio. </p>
        <p class ="error-message" *ngIf="getControl('email')?.hasError('email')"> Formato de email inválido. </p>
        </div>
    </div>

    <!-- Campo: Departamento -->
    <div class="form-field">
      <label for="departamento">Departamento *</label>
      <select class="form-select" id="departamento" formControlName="department">
        <option value="">Seleccionar departamento</option>
        <option *ngFor="let dept of departments" [value]="dept">
          {{ dept }}
        </option>
      </select>
      <div class="error-container" *ngIf="getControl('department')?.invalid && (getControl('department')?.touched || getControl('department')?.dirty)">
        <p class="error-message" *ngIf="getControl('department')?.hasError('required')">El departamento es obligatorio.</p>
      </div>
    </div>

    <!-- Campo: Foto de perfil -->
    <div class="form-field">
      <label for="imageId">Foto de perfil </label>
      <button type="button" class="photo-selector-btn" (click)="togglePhotoOptions()">
        {{ selectedPhoto ? 'Cambiar foto' : 'Seleccionar foto' }}
      </button>

      <div class="photo-options" *ngIf="showPhotoOptions">
        <div class="photo-grid">
          <img *ngFor="let avatar of photoOptions.slice(1)" 
               [src]="avatar.url" 
               [alt]="avatar.id"
               class="photo-option"
               [class.selected]="selectedPhoto === avatar.id"
               (click)="selectPhoto(avatar.id)"
               (keydown.enter)="selectPhoto(avatar.id)">
        </div>
      <a class="link" href="http://www.freepik.com">Designed by studiogstock / Freepik</a>
      </div>
    </div>

    <!-- Campo: Contraseña -->
  <div class="form-field">
    <label for="contrasena">Contraseña *</label>
      <div class="password-field">
      <input [type]="!visiblePassword?'password':'text'" placeholder="Contraseña" formControlName="password">
      <button type="button" class="eyeicon" (click)="togglePasswordVisibility()">
        <mat-icon *ngIf="visiblePassword">visibility</mat-icon>
        <mat-icon *ngIf="!visiblePassword">visibility_off</mat-icon>
      </button>
    </div>
    <div class="error-container" *ngIf="getControl('password')?.invalid && (getControl('password')?.touched || getControl('password')?.dirty)">
      <p class ="error-message" *ngIf="getControl('password')?.hasError('required')"> El campo es obligatorio. </p>
      <p class ="error-message" *ngIf="getControl('password')?.hasError('minlength')"> Mínimo 8 caracteres. </p>
      <p class ="error-message" *ngIf="getControl('password')?.hasError('maxlength')"> Máximo 128 caracteres. </p>
      <p class ="error-message" *ngIf="getControl('password')?.hasError('noLowercase')">❌ Debe contener al menos una letra minúscula</p>
      <p class ="error-message" *ngIf="getControl('password')?.hasError('noUppercase')">❌ Debe contener al menos una letra mayúscula</p>
      <p class ="error-message" *ngIf="getControl('password')?.hasError('noNumber')">❌ Debe contener al menos un número</p>
      <p class ="error-message" *ngIf="getControl('password')?.hasError('noSpecialChar')">❌ Debe contener al menos un carácter especial</p>
      </div>
  </div>

    <!-- Campo: Repetir Contraseña -->
    <div class="form-field">
      <label for="repeatePassword">Repetir Contraseña *</label>
      <div class="password-field">
      <input [type]="!visibleRepeatePassword?'password':'text'" placeholder="Repetir contraseña" formControlName="repeatePassword">
      <button type="button" class="eyeicon" (click)="toggleRepeatePasswordVisibility()">
        <mat-icon *ngIf="visibleRepeatePassword">visibility</mat-icon>
        <mat-icon *ngIf="!visibleRepeatePassword">visibility_off</mat-icon>
      </button>
    </div>
      <div class="error-container" *ngIf="(getControl('repeatePassword')?.invalid && (getControl('repeatePassword')?.touched || getControl('repeatePassword')?.dirty)) || (registerForm.errors?.['passwordMismatch'] && (getControl('repeatePassword')?.touched || getControl('repeatePassword')?.dirty))">
        <p class ="error-message" *ngIf="getControl('repeatePassword')?.hasError('required')"> El campo es obligatorio. </p>
        <p class ="error-message" *ngIf="getControl('repeatePassword')?.hasError('minlength')"> Mínimo 8 caracteres. </p>
        <p class ="error-message" *ngIf="getControl('repeatePassword')?.hasError('maxlength')"> Máximo 128 caracteres. </p>
        <p class ="error-message" *ngIf="registerForm.errors?.['passwordMismatch'] && (getControl('repeatePassword')?.touched || getControl('repeatePassword')?.dirty)"> Las contraseñas no coinciden. </p>
      </div>
    </div>

    <!-- Botón de envío -->
    <button type="submit" [disabled]="!registerForm.valid || isSubmitting" class="create-btn">
      {{ isSubmitting ? 'Registrando...' : 'Crear cuenta' }}
    </button>

</form>
</div>