@import '../form-styles.css';

/* Estilos para el botón VIP */
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.btn-vip {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  margin: 0 auto;
}

.btn-vip:hover {
  font-weight: bold;
  box-shadow: 0 0 5px var(--azul-oscuro);
}

.vip-active {
  background-color: gold;
  color: white;
  box-shadow: 0 0 5px rgb(255, 221, 1);
  border-radius: 15px;
}

.vip-inactive {
  background-color: var(--gris);
  color: var(--blanco);
}

/* Estilos para el botón 2FA */
.btn-2fa {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  margin: 0 auto;
}

.btn-2fa:hover {
  font-weight: bold;
  box-shadow: 0 0 5px var(--azul-oscuro);
}

.fa2-active {
  background-color: var(--azul);
  color: var(--blanco);
  box-shadow: 0 0 5px var(--azul);
  border-radius: 15px;
}

.fa2-inactive {
  background-color: var(--gris);
  color: var(--blanco);
}